<nav class="col-md-12 text-center">
  <a href="#" class="right">Edit profile</a>
  <ul>
    <li class="border-black-2px">Timeline</li>
    <li class="border-black-2px">About</li>
    <li class="border-black-2px">Photos <span class="text-gray-light">(123)</span></li>
    <li class="border-black-2px">Friends <span class="text-gray-light">(542)</span></li>
  </ul>
</nav>